[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bt-proximity = "*"
flask = "*"
requests-async = "*"
python-dotenv = "*"
waitress = "*"
gpiozero = "*"  
pybluez = {git = "git+https://github.com/pybluez/pybluez.git#egg=pybluez"}

[dev-packages]
