[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bt-proximity = "*"
flask = "*"
python-dotenv = "*"
waitress = "*"
gpiozero = "*"  
pigpio = "*"
requests = "*"
bluepy = "*"

[dev-packages]

[requires]
python_version = "3.11"
